.box {
width: 150px;
height: 150px;
margin: 20px;
}
#colors {
    transition: background-color 3s linear 1s;
    background-color: yellow;
}
#colors:hover {
    background-color:  hotpink;
}
#box1 {
    background-color: lightcoral;
    transition: height 2s;
}
#box1:hover {
height:300px;
}
#box2 {
    background-color: cadetblue;
    transition:width 2s:
}
#box2:hover {
    width: 450px;
}