#static {
    height: 100px;
    width:400px;
    background-color: aquamarine;
}
#relative {
    position: relative;
    width:600px;
    height: 400px;
    background-color: yellowgreen;
    top: 20px;
    left: 20px;
}
#absolute {
    position:absolute;
    width: 400px;
    height: 100px;
    background-color: aliceblue;
    top: 50px;
    left: 30px;
}
#fixed {
    position: fixed;
    width: 300px;
    height: 200px;
    background-color: red;
    bottom: 45px;
    right: 30px;
}