#background-img {
    background-color: burlywood;
    background-image: url(../img/truskawka.jpg);
    background-repeat: repeat-x;
    background-position: top center;
    background-size: 35% 35%;
    background-attachment: flex;
    color: darkslategray;
}