body {
    background-color: blue;
}
form {
    background-color: aliceblue;
    padding:20px;
    color:#fff;
    width: 600px
}
form input [type="text"],
form input [type="tel"],
form input [type="email"],
form textarea {
     background-color:  #2b4a64;
}
form select:focus, form input:focus, form textarea:focus {
    background-color: #4e708c;
    border: #fff 1px solid;
}