#name:hover {
    background-color: aquamarine;
}
#name:focus {
    background-color: beige;
}
.customer:first-child {
    color: lime;
}
.customer:last-child {
    color: red;
}
.customer:nth-child(5)
 {
    color: blue;
}
.customer:nth-last-child(even)
 {
    color: pink;
}
.customer:nth-child(6n + 2)
 {
    background-color: coral;
}