.box {
    width:150px;
    height:150px;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
}
.box:hover {
    cursor: pointer;
}
.box-width {
    background: red;
    transition: width 2s ease-out;
}
.box-width:hover {
    width: 300px;
}
.box-height {
    background:blue;
    transition: height 2s ease-out;
}
.box-height:hover {
    height:300px;
}